* {
  margin: 0;
  padding: 0;
}

#btn-container {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

#btn-container h1 {
  font-size: 3.5rem;
}

#show-btn {
  background-color: black;
  color: aliceblue;
  font-size: 1.3rem;
  padding: 20px 45px;
  border: none;
}

#show-btn:hover {
  background-color: aliceblue;
  color: black;
  border: none;
}

#list-items {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 4rem;
}
